.App {
  text-align: center;
}

body {
  margin: 0;
  background: rgb(202, 202, 202);
  font-family: 'Indie Flower', cursive;
  font-size: 3vh;
}

header {
  background: rgb(255, 255, 255);
  height: 8vh;
  opacity: 90%;
}


header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 90%;
  height: 8vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.logo {
  height: 8vh;
}

nav {
  width: 20vw;
}

nav ul {
  height: 8vh;
  padding: 0;
  margin: 0%;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

nav li {
  margin: auto;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vh;
}

nav a:hover {
  color: #000000;
}

nav a::before {
  content: '';
  display: block;
  height: 0.75vh;
  background-color: rgb(254, 249, 112);
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

.login_main {
  background-color: white;
  opacity: 90%;
  position: absolute;
  width: 70vw;
  height: 70vh;
  border: solid black 2px;
  margin-left: 15vw;
  margin-top: 7vh;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 5px 225px 5px/5px 225px 5px 255px;
}

.reg_form {
  /* background-color: blue;  */
  width: 90%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-content: space-between;
}

.input {
  width: 80%;
  margin: auto;
  background: transparent;
  color: #41403e;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  letter-spacing: 1px;
  outline: none;
  border: solid 2px #41403e;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.submit_button {
  margin: auto;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 1px;
  outline: none;
  border: solid 2px #41403e;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.form_name {
  /* background-color: blue; */
  margin: 2vh auto;
  font-size: 8vh;
}

@media screen and (max-width: 900px) {
  nav {
    width: 40vw;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .login_main {
    width: 95vw;
    margin-left: 2.5vw;
  }
  nav {
    width: 100vw;
  }
}